@font-face {
  font-family: "Figtree";
  src: url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
}

body {
  width: 100vw;
  height: 98vh;
  background-color: hsl(47, 88%, 63%);
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 21.5rem;
  height: 32.5rem;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  border-radius: 20px;
}

.illustration {
  border-radius: 20px;
  width: 19rem;
  height: 18rem;
  object-fit: cover;
}

.mini-header {
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 10px;
  font-family: "Figtree";
  font-size: 14px;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish-date {
  font-family: "Figtree";
  font-size: 14px;
}

.post-title {
  font-family: "Figtree";
  font-size: 22px;
  font-weight: 800;
}

.paragraph {
  color: hsl(0, 0%, 42%);
  font-family: "Figtree";
  font-size: 16px;  
}

.personal-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 2rem;
  height: 2rem;
}

.authors-name {
  display: inline;
  margin-left: 5px;
}
