@font-face {
  font-family: "Figtree";
  src: url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: hsl(47, 88%, 63%);
  --white-color: hsl(0, 0%, 100%);
  --darkgray-color: hsl(0, 0%, 7%);
  --lightgray-color: hsl(0, 0%, 42%);
}

body {
  width: 100vw;
  height: 99vh;
  background-color: var(--yellow-color);
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Figtree";
}

.card-container {
  width: 22rem;
  height: 33rem;
  background-color: var(--white-color);
  margin: 0 auto;
  padding: 1.25rem;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  border-radius: 20px;
}

.illustration {
  border-radius: 20px;
  object-fit: cover;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.mini-header {
  background-color: var(--yellow-color);
  color: var(--darkgray-color);
  width: 3.5rem;
  height: 1.75rem;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish-date {
  font-size: 14px;
}

.post-title {
  font-size: 22px;
  font-weight: 800;
}

.paragraph {
  color: var(--lightgray-color);
  font-size: 16px;  
}

.personal-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 2rem;
  height: 2rem;
}

.authors-name {
  display: inline;
  margin-left: 5px;
}
